<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comment Section</title>
    <link rel="stylesheet" th:href="@{/static/css/comments/comments.css}">
</head>
<body>

<!-- Define a Thymeleaf fragment for comments -->
<div th:fragment="commentsFragment(postId, comments)">
    <div class="comments-section">
        <h4>Comments:</h4>
        <div th:id="'comments-' + ${postId}">
        <!-- Loop through comments -->
        <div th:each="comment : ${comments}">
            <div class="comment">
                <p th:text="${comment.content}"></p>
                <small>By
                    <span th:text="${comment.username}"></span> on
                    <span th:text="${#temporals.format(comment.createdDate, 'dd/MM/yyyy HH:mm')}"></span>
                </small>
                <button th:attr="onclick='deleteComment(' + ${comment.id} + ', \'' + ${postTitle} + '\')'">Delete</button>
            </div>
        </div>
        </div>

        <!-- Comment Form -->
        <form method="post" class="comment-submission" >
            <input type="hidden" name="postId" th:value="${postId}" />
            <label for="commentInput" hidden="hidden">Write your comment here</label><textarea id="commentInput" name="content" placeholder="Write a comment..." required></textarea>
            <button id="commentSubmit" type="submit">Post Comment</button>
        </form>
    </div>
</div>
<script th:fragment="commentScript" src="/js/comments/comments.js"></script>
</body>
</html>