<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Event Details</title>
      <link rel="stylesheet" href="/css/events/event.css">
    </head>
    <section layout:fragment="content">
        <div id="event-details" class="event-details">
            <div class="general-headings-layout">
                <h1>Community Events</h1>
                <a th:href="@{event/add}"><button class="add-event-button" sec:authorize="isAuthenticated()" >Add Event</button></a>
            </div>
            <div class="event-grid">
            <!-- Loop through each event and create a clickable link -->
            <div class="event-card" th:each="event : ${events}">
              <div class="event-card-content">
                <a th:href="@{/event/{id}(id=${event.getEvent_id()})}" class="event-link">
                  <div class="event-poster">
                    <img th:src="${event.getImageUrl()} " class=".event-poster-img" alt="Image description" id="myImage">
                  </div>
                  <h2 th:text="${event.getEvent_title()}">Sample Event</h2>
                  <p><strong>Description:</strong> <span th:text="${event.getDescription()}">Event description</span></p>
                  <p><strong>Date and Time:</strong> <span th:text="${event.getEvent_date()}">Event date</span>, <span th:text="${event.getEvent_time()}">Event time</span></p>
                  <p><strong>Location:</strong> <span th:text="${event.getLocation()}">Event location</span></p>
                </a>
              </div>
                <div class ="event-card-button" sec:authorize="isAuthenticated()">
                    <button class="register-button">Register Now</button>
                    <a th:href="@{/event/edit/{id}(id=${event.getEvent_id()})}" class="event-link"  ><button>Edit Event</button></a>
                </div>
            </div>
          </div>
        </div>
        <script src="/js/event/event.js"></script>
        <script th:if="${successMessage}">
            alert("Event created successfully");
        </script>
    </section>
</html>
